
.about-container {
    background-color: #dcedc1;
    width: 100%;
    height: auto;
    padding-top: 110px;
    padding-bottom: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.about-container p {
    margin: auto;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 18px;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;

}
.about-container h2 {
    font-family: 'Secular One', sans-serif;
    font-weight: bold;
    font-size: 46px !important;
} 

h1 {
    text-align: left ;
    padding: 25px;
    font-family: 'Major Mono Display', monospace;
}

.tech {
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.details .bio-image {
  height: 177px;
  width: 150px;
  border-radius: 5px;
  float: left;
  margin-left: 40px;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
}

.details p {
    font-family: 'Open Sans', sans-serif;
    margin: 0px 200px 40px 40px;
}

.details button  {
    background-color: #a37eba;
    border:  #a37eba;
    margin-top: 10px;
}

.details button a {
    color: white;
    text-decoration: none;
}
.details button a:hover {
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 920px) {
    .details p {
        font-family: 'Open Sans', sans-serif;
        margin: 0px 20px 40px 40px;
    }
}

@media screen and (max-width: 600px) {
    .details p {
        font-family: 'Open Sans', sans-serif;
        margin: 40px 20px 40px 40px;
    } 
    
    .details{
         flex-wrap: wrap;
    }
}