@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Shadows+Into+Light&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Open+Sans&display=swap');

.about-container {
    background-color: #dcedc1;
    width: 100%;
    height: auto;
    padding-top: 120px;
     padding-bottom: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.about-container p {
    /* max-width: 750px; */
    margin: auto;
   font-family: 'Open Sans', sans-serif;
}
  .about-container h2 {
    /* font-family: 'Reenie Beanie', sans-serif !important; */
     /* font-family: 'Major Mono Display', monospace; */
    /* font-family: 'Shadows Into Light', cursive; */
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
    font-size: 42px !important;
} 

h1 {
    text-align: left ;
    padding: 25px;
    font-family: 'Major Mono Display', monospace;
    /* font-family: 'Staatliches', sans-serif; */
    /* font-size: 30px; */
}




.tech {
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.details .bio-image {
  height: 177px;
  width: 150px;
  border-radius: 5px;
  float: left;
  margin-left: 40px;
}

.details {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: left;
    justify-content: space-around;
}

.details p {
    font-family: 'Open Sans', sans-serif;
    margin: 40px 200px 40px 40px;

}

.details button a {
    color: white;
}