.test2-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
     /* justify-items: center; */
}

.test2-col1 {
    justify-self: center;
    width: 50%;
}
.test2-col2 {
    /* justify-self: center;
        justify-self: center; */
   
    /* padding-left: 20px; */
    /* border: 2px solid red; */
    width: 70%;
    
}

.test2-col2 p {
    align-self: center;
    font-size: 20px;
}

.image {
  height: 296px;
  width: 250px;
  border-radius: 5px;
  float: left;
  margin-left: 40px;
  margin-bottom: 50px;
}