
.about-container {
    background-color: #dcedc1;
    width: 100%;
    height: auto;
    padding-top: 90px;
    padding-bottom: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.about-container h2 {
    font-family: 'Secular One', sans-serif;
    font-weight: bold;
    font-size: 42px !important;
} 
.about-container p {
    font-family: 'Major Mono Display', monospace;
    /* font-family: 'Secular One', sans-serif; */
    /* font-family: 'Open Sans', sans-serif;  */
    font-weight: bold;
} 

h1 {
    text-align: left ;
    padding: 25px;
    font-family: 'Major Mono Display', monospace;
}

.tech {
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.details .bio-image {
  height: 177px;
  width: 150px;
    /* height: 296px;
    width: 250px; */
    border-radius: 5px;
    margin-left: 40px;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    padding-bottom: 20px;
}

.details p {
    font-family: 'Open Sans', sans-serif;
    margin: 0px 100px 0px 20px;
    font-size: 1.0rem;
    line-height: 1.5;
}

.details button  {
    background-color: #a37eba;
    border:  #a37eba;
    margin-top: 10px;
}

.details button a {
    color: white;
    font-weight: bold;
}
.details button a:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .details p {
        font-family: 'Open Sans', sans-serif;
        margin: 20px 40px 20px 40px;
        font-size: 14px;
    
    }
    .details .bio-image {
        height: 296px;
        width: 250px;
        border-radius: 5px;
        margin-left: auto;
        margin-right:auto;
        display: block;
    }
     .details{
        flex-wrap: wrap;
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 960px) and (min-width: 768px) {
    .details p {
        font-family: 'Open Sans', sans-serif;
        margin: 20px 40px 20px 40px;
        font-size: 16px;
    
    }
    .details .bio-image {
        height: 296px;
        width: 250px;
        border-radius: 5px;
        margin-left: auto;
        margin-right:auto;
        display: block;
    }
     .details {
        flex-wrap: wrap;
        padding-bottom: 0px;
    }
} 